.navbar{
    width: 100%;
    height: 100px;
    background: rgb(195, 43, 226);
}
.nav-menus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color: white;
    padding: 20px;
     
}
.nav-menus ul{
    display: flex;
}
.nav-menus li{
    margin-left: 20px;
    list-style: none;
    cursor: pointer;
    margin-left: 20px ;
}
.nav-menus li:hover{
    color: rgb(225, 37, 37);
    font-size: 30px;
}
