.form-title{
    width: 500px;
    height: 300px;
    border: 2px solid rgb(230, 226, 226);
    background:  rgb(50, 8, 118);
    border-radius: 40px;
    
}
.form-title label{
    font-size: 28px;
    color: antiquewhite;
}
.form-title input{
    width: 200px;
    height: 25px;
    background: transparent;
    border: 1px solid rgb(143, 136, 136);
    margin-left: 10px;
    color: white;
    border-radius: 5px;

}
.form-title button{
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background: blueviolet;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}
.form-lable-input{
    margin-top: 20px;
}

.form-btn{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

form {
    margin-top: 30px
}

.result{
    color: white;  
}

.result h2{
    padding-top: 40px;
}
td,tr,th{
    width: 200px;
    height: 40px;
    border: 2px solid white;
    font-size: 20px;
}